body{
    display: contents;
  }
  .navnar{
    float: right;
    margin: 20px;
    font-size: 13px;
  }
  
  .nav-item{
    text-decoration: none;
    color:black;
    margin-right: 15px;
    
  }
  
  .nav-item:hover{
    text-decoration: underline;
  
  }
  
  .main{
    margin-top:180px;
    text-align: center;
  }
  
  .input-area{
    margin-top: 10px;
  }
  .input-box{
    width: 550px;
    height: 43.99px;
    border-radius: 24px;
    border: 1px solid #dfe1e5;
    
  }
  
  .search-icon{
    position: relative;
    left: 35px;
    color: #9aa0a6;
  }
  .keyboard-icon{
  position: relative;
  right: 55px;
  color: #9aa0a6;
  }
  .mic-icon{
    position: relative;
    right: 55px;
    color: #9aa0a6;
  }
  
  .button-area{
    padding-top: 18px;
  }
  
  .button-style{
    height: 36px;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    font-family: Apple SD Gothic Neo,arial,sans-serif;
    padding: 0 16px;
    
  }
  .button-style:hover{
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
      background-color: #f8f9fa;
      border: 1px solid #d0d1d3;
      color: #202124;
  }
  .button-text{
  text-decoration: none;
  color: #1a0dab;
  font-size: 13px;
  }
  .button-text:hover{
  text-decoration: underline; 
  }
  .footer{
    position: absolute;
    bottom: 0px;
    background: #f2f2f2;
    width: 100%;
  }
  
  .first-line{
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    color: #70757a;
  }
  
  .second-line{
    padding: 15px 30px;
    font-size: 15px;
    
    
  }
  
  .second-line-second{
    float: right;
  }
  .second-line-text{
    text-decoration: none;
    color: #70757a;
    padding: 15px;
    white-space: nowrap;
  }
  .second-line-text:hover{
    text-decoration: underline;
  }